
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the border */
* {
  padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #3a3a3a;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  text-spacing: 2px;
  color: #252525
}

.hidden-heading {
  display: none;
}

/* header */
header {
  background-color: #ffffff;
  padding: 0 1rem;
  z-index: 99;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

#logo {
  max-width: 80%;
  height: auto;
  padding-top: 2px;
}

#menu {
  text-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 1em;
}

.active {
  border-bottom: 1px solid #3a3a3a
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 2px 2px #3a3a3a;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  display: none;
  top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}
/* main */

main {
  /* Make main element take up surplus space to push footer down */
  flex: 1 0 auto;
  margin-top: 47px;
}

/* General section styles, uses center as default */
section {
padding: 10px;
  margin: 10px;
  text-align: center;
  border-bottom: 1px solid #252525;
}

/* Class to override section alignement */
.left-align {
  text-align: left;
  margin-left: 10px;
  list-style-type: none;
}

li {
 margin-top: 10px;
}

/* Styles for video containers */
.video-container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* button */
#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Use cases */
#use-cases img {
  max-width: 100%;
  height: auto;
}

/* footer */

#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  padding: 5%;
  font-size: 160%;
  color: #3a3a3a
}
