
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the border */
* {
  padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #EEEEEE;
  font-family: 'Lato', sans-serif;
  background-color: #EEEEEE;
}

a {
  color: #8FCDF4;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  color: #8FCDF4;
}

.hidden-heading {
  display: none;
}

/* header */
header {
  background-color: #051726;
  padding: 0.5rem 0.5rem;
  z-index: 99;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
  font-weight: bolder;
}

#logo {
  max-width: 80%;
  height: auto;
  padding-top: 2px;
  max-height: 3rem;
}

#menu {
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 1em;
}

.active {
  border: 2px solid #8FCDF4;
  border-radius: 5px;
  padding: 0px 0px 2px 4px;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  background-color: #051726;
  box-shadow: 0 2px 2px #3a3a3a;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  display: none;
  top: 100%;
}

/* Nav drapdown */
#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* main */
main {
  /* Make main element take up surplus space to push footer down */
  flex: 1 0 auto;
  margin-top: 4rem;
}

/* General section styles, uses center as default */
section {
padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #051726;
  box-shadow: 0px 2px 4px #3a3a3a;

}

/* Class to override section alignement */
.list-align {
  list-style-type: none;
}

li {
 margin-top: 10px;
}

/* Styles for video containers */
.video-container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  border-radius: 10px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* button */
#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Genral styling for images */
.images {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* iframe video styling */
iframe {
  border: none;
}

/* footer */

#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  padding: 5%;
  font-size: 160%;
  color: #051726;
}


/* Signup form */
#signup-form {
  border-radius: 10px;
  padding: 20px;
  position: relative;
  background-color: #051726;
  color: #8FCDF4;
  margin: 1.5rem;
  box-shadow: 0px 2px 4px #3a3a3a;
}

#signup-form h2 {
  color: #EEEEEE;
  text-align: center;
}

#have-account {
  color: #EEEEEE;
}

/* Text inputs for the form */
.text-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #8FCDF4;
  background-color: #051726;
  color: #8FCDF4;
  border-radius: 5px;
}

.text-input:hover,
.text-input:focus {
  border-color: #EEEEEE;
}

/* Join button */
.join-button {
  background-color: #8FCDF4;
  color: #051726;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.join-button:hover {
  background-color: #6EB3D4;
}

/* Primary button */
.primary-button {
  background-color: #8FCDF4 !important;
  color: #EEEEEE !important;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none !important;
}

.primary-button:hover {
  background-color: #6EB3D4 !important;
}

/* Additional Links */
h2 a {
  color: #EEEEEE;
}

h2 a:hover {
  text-decoration: underline;
}

.center-item {
  text-align: center;
}

/* Tolor p text blue */
.color-text {
  color: #8FCDF4;
}

/* Styling for caliper logo no product page */
#caliper-logo {
  margin-top: 10px;
}

/* Tables and larger */
/* Media query: tablets and larger (576px and larger) */
@media screen and (min-width: 576px) {
#use-cases {
    column-count: 2;
  }
}

/* Media query: tablets and larger (768px and larger) */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
      display: block;
      position: relative;
      box-shadow: none;
      width: fit-content;
      padding-right: 5px;
    }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  header a {
    max-width: 50%;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
    max-height: 5rem;
  }

  /* Main content */
  main {
    /* Push content down to accomodate larger header */
    margin-top: 79px;
  }

  section {
    max-width: 80%;
    position: relative;
    left: 10%;
  }
  /* Use-cases */
  #use-cases {
    column-count: 3;
  }

    /* Signup form */
  #main-signup {
    background-position: center;
    position: relative;
  }

  #signup-form {
    max-width: 33%;
    position: relative;
    left: 31%;
    top: 10%;
  }

  .join-button:hover {
    background-color: #fafafa;
    color: #454b1b;
  }

  #text-input:hover {
  border-color: #f16c6b;
  }

  .images {
    max-width: 30rem;
  }
  
  #headshot {
    max-width: 20rem;
  }
}

@media screen and (min-width: 992px) {
  main {
    margin-top: 8rem;
  }

  #menu a:hover {
    border-bottom: 2px solid #8FCDF4;
  }

  /* Use-cases */
  #use-cases {
    column-count: 4;
  }

  section {
    max-width: 60%;
    position: relative;
    left: 20%;
  }

}

@media screen and (min-width: 1200px) {
  body {
    font-size: x-large;
  }

  .images {
    max-width: 40rem;
  }
}
